log.txt
config.txt
activity_log.txt
/backup/
/bbs/
/carts/demos
/cdata
*.blend1
sdl_controllers.txt
.antlr
models/__pycache__
/models/resized
/models/orig
/models/env
/models/dist
*.bak
*.egg-info
_label.png
/carts/poom_*.p8
/carts/poom_*.lua



